<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table role="none" width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<table id="JR_PAGE_ANCHOR_0_1" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_1 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_1 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_1 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:20px"></td>
<td style="width:1px"></td>
<td style="width:70px"></td>
<td style="width:48px"></td>
<td style="width:21px"></td>
<td style="width:39px"></td>
<td style="width:51px"></td>
<td style="width:9px"></td>
<td style="width:70px"></td>
<td style="width:31px"></td>
<td style="width:50px"></td>
<td style="width:70px"></td>
<td style="width:70px"></td>
<td style="width:40px"></td>
<td style="width:5px"></td>
</tr>
<tr valign="top" style="height:22px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:17px">
<td>
</td>
<td colspan="4" rowspan="3">
<img src="DriverReport.html_files/img_0_0_0.png" style="height: 50px" alt=""/></td>
<td colspan="10">
</td>
</tr>
<tr valign="top" style="height:20px">
<td>
</td>
<td colspan="2">
</td>
<td colspan="3" dir="rtl" style="text-indent: 0px; text-align: center;">
<span style="font-family: SansSerif; color: #000000; font-size: 15px; line-height: 1.2578125; font-weight: bold;">تقرير مركبة</span></td>
<td colspan="5">
</td>
</tr>
<tr valign="top" style="height:13px">
<td>
</td>
<td colspan="10">
</td>
</tr>
<tr valign="top" style="height:29px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:28px">
<td colspan="2">
</td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">االتاريخ</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">السعة</span></td>
<td colspan="2" dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ملاحظات</span></td>
<td colspan="2" dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">الإجمالي</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">قيمة &nbsp;الأجر</span></td>
<td colspan="2" dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">الوجهة</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">المصدر</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">المعرف</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">id</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-04T22:40:32</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">36,000,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">800.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">50</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">7</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-04T22:40:52</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">50</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">8</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-05T20:56:13</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">54</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">14</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-06T15:21:14</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2w</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">55</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">17</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-06T16:03:19</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">yyy</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">57</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">22</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-06T16:05:57</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">tst</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">58</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">24</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:23:07</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">29</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:28:33</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">30</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:29:15</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">31</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:29:44</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">32</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:30</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">33</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:30</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">34</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:30:03</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">test</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">64</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">35</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:31:50</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">tr</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">65</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">36</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:34:25</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">tr</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">65</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">37</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-10T01:39:05</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">tr</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">65</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">38</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-11T13:19:23</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">68</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">41</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-11T14:03:57</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">71</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">46</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="15">
</td>
</tr>
<tr valign="top" style="height:30px">
<td colspan="2">
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-11T14:36:08</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">44</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td colspan="2" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">69</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">48</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:29px">
<td colspan="15">
</td>
</tr>
</table>
<br/>
<br/>

<table id="JR_PAGE_ANCHOR_0_2" role="none" class="jrPage" data-jr-height="842" cellpadding="0" cellspacing="0" border="0" style="empty-cells: show; width: 595px; border-collapse: collapse; background-color: white;">
<style type="text/css">
  #JR_PAGE_ANCHOR_0_2 th {font-weight: normal;}
  #JR_PAGE_ANCHOR_0_2 ul {list-style-type: disc; padding-inline-start: 40px; margin: 0px;}
  #JR_PAGE_ANCHOR_0_2 ol {list-style-type: decimal; padding-inline-start: 40px; margin: 0px;}
</style>
<tr role="none" valign="top" style="height:0">
<td style="width:21px"></td>
<td style="width:70px"></td>
<td style="width:48px"></td>
<td style="width:60px"></td>
<td style="width:60px"></td>
<td style="width:70px"></td>
<td style="width:81px"></td>
<td style="width:70px"></td>
<td style="width:70px"></td>
<td style="width:40px"></td>
<td style="width:5px"></td>
</tr>
<tr valign="top" style="height:45px">
<td colspan="11">
</td>
</tr>
<tr valign="top" style="height:28px">
<td>
</td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">االتاريخ</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">السعة</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ملاحظات</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">الإجمالي</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">قيمة &nbsp;الأجر</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">الوجهة</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">المصدر</span></td>
<td dir="rtl" style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">المعرف</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">id</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="11">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-11T14:36:15</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">33</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">69</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">49</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="11">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-13T14:51:21</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">qq</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">68</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">55</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:6px">
<td colspan="11">
</td>
</tr>
<tr valign="top" style="height:30px">
<td>
</td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">2023-11-13T20:01:22</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">45000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">hjb</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">5,400,000</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">120.0USD</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">reg1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">ref1</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">73</span></td>
<td style="text-indent: 0px; text-align: left;">
<span style="font-family: SansSerif; color: #000000; font-size: 10px; line-height: 1.2578125;">56</span></td>
<td>
</td>
</tr>
<tr valign="top" style="height:661px">
<td colspan="11">
</td>
</tr>
</table>

</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
